{% extends "layout/base.html" %}
{% block content %}
  <h1>사용자 상세 정보</h1>
  <ul>
    <li><strong>ID:</strong> {{ user.id }}</li>
    <li><strong>이름:</strong> {{ user.full_name }}</li>
    <li><strong>사용자명:</strong> {{ user.username }}</li>
    <li><strong>이메일:</strong> {{ user.email }}</li>
    <li><strong>전화번호:</strong> {{ user.phone_number }}</li>
    <li><strong>상태코드:</strong> {{ user.user_status_code_id }}</li>
    <li><strong>언어:</strong> {{ user.locale }}</li>
    <li><strong>설명:</strong> {{ user.description }}</li>
  </ul>

<a href="{% url 'accounts:user_update' user.id %}">수정</a> |
<a href="{% url 'accounts:user_delete' user.id %}">삭제</a> |
<a href="{% url 'accounts:user_list' %}">목록</a>
{% endblock %}
