
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>{% block title %}django demo{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- ================== BEGIN core-css ================== -->
	<link href="{% static '/assets/css/vendor.min.css' %}" rel="stylesheet">
	<link href="{% static '/assets/css/app.min.css' %}" rel="stylesheet">
	<!-- ================== END core-css ================== -->

    {% block head %}{% endblock %}
</head>

<body class='pace-top'>
	<!-- BEGIN #app -->
	<div id="app" class="app app-content-full-width app-content-full-height app-footer-fixed">

        {% include "fragments/common/header.html" %}

		<!-- BEGIN #content -->
		<div id="content" class="app-content">
            {% block content %}{% endblock %}
		</div>
		<!-- END #content -->

        {% include "fragments/common/footer.html" %}

	</div>
	<!-- END #app -->

	<!-- ================== BEGIN core-js ================== -->
	<script src="{% static '/assets/js/vendor.min.js' %} "></script>
	<script src="{% static '/assets/js/app.min.js' %} "></script>
	<!-- ================== END core-js ================== -->

    {% block scripts %}{% endblock %}
</body>
</html>
