{% extends "layout/modal.html" %}

{% block title %}Home | MySite{% endblock %}

{% block content %}
<div class="d-lg-flex align-items-end mb-4">
    <h3 class="page-header mb-lg-0">
        Dashboard
        <small class="d-block fs-12px mt-1">Monitor key performance metrics for online store</small>
    </h3>
    <div class="ms-auto">
        <a href="#" class="btn fw-semibold fs-13px btn-secondary me-2" id="daterange-filter"><i class="fa fa-calendar fa-fw me-md-1 opacity-5"></i> <span>27 Jan 2024 - 02 Feb 2024</span> <b class="caret ms-3"></b></a>
        <a href="#" class="btn fw-semibold fs-13px btn-theme"><i class="fa fa-upload fa-fw me-md-1 opacity-5"></i> <span class="d-none d-sm-inline">Export report</span></a>
    </div>
</div>
<div class="row">

</div>
{% endblock %}